@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Noto+Sans+KR&family=Questrial&display=swap');

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


.en1 {font-family: 'Questrial', sans-serif; letter-spacing: -1px;}
.en2 {font-family: 'Cinzel', serif;letter-spacing: -1px;}
.en3 {font-family: 'Noto Sans KR', sans-serif;}

body{ font-size:16px; line-height:1.6; background:#f8f8f4; }
.wrap{ width:100%; margin:0 auto; overflow:hidden; position:relative; }

section{ width:100%; height:110vh; }
.con01 .cloneWrap { background:#5f5c53; color:#fff; }
.con02 .cloneWrap { background:#000; color:#fff; }
.con03 .cloneWrap { background:#222; color:#fff; }
.con04 .cloneWrap { background:#545454; color:#fdfdfd; }
.con05 .cloneWrap { background:#c2c2c0; color:#2c2c2c; }
.con06 .cloneWrap { background:#fff; color:#000; }
.cloneWrap{ border-radius:50px 50px 0 0 ; box-shadow:0 0 30px rgba(0,0,0,.3); overflow:hidden; height:100%; position:relative; }
.cloneWrap:after{ content:''; position:absolute; width:1px; height:60%; left:50%; top:50%; transform:translate(-50%,-50%); background:rgba(255,255,255,.5) }
.con06 .cloneWrap:after{ background:rgba(0,0,0,.2) }
.cloneWrap .contBox{ display:flex; justify-content: space-between; }
.cloneWrap .contBox li.left{ width:50%; }
.cloneWrap .contBox li.left a{ display:block; width:100%; height:100%; }
.cloneWrap .contBox li.left a p.img, .cloneWrap .contBox li.left a p.img img{ width:100%; }
.con02 .cloneWrap .contBox li.right .tit span, .con05 .cloneWrap .contBox li.right .tit span{ display:inline-block; }

.cloneWrap .contBox li.right{ width:50%; padding:150px 0 0 100px; box-sizing: border-box; }
.cloneWrap .contBox li.right .tit{ font-size:120px; line-height:0.9; margin-bottom:85px; }
.cloneWrap .contBox li.right .tit span{ display:block; }
.cloneWrap .contBox li.right .txtBox{ width:60%; line-height:1.5; }
.cloneWrap .contBox li.right .txtBox .eng{ font-size:26px; line-height:1.2; margin-bottom:30px; }
.cloneWrap .contBox li.right .txtBox .kor{ font-size:15px; margin-bottom:20px; letter-spacing: -1px; }
.cloneWrap .contBox li.right .txtBox .skill li{ margin-bottom:10px; position:relative; padding-left:20px; }
.cloneWrap .contBox li.right .txtBox .skill li:after{ content:''; position:absolute; width:5px; height:5px; border-radius: 50%; background:rgba(0,0,0,0.5); left:0; top:50%; transform:translateY(-50%) }
.con02 .cloneWrap .contBox li.right .txtBox .skill li:after, .con03 .cloneWrap .contBox li.right .txtBox .skill li:after{ background:rgba(255,255,255,.2) }

/* scrolla.slpitting animation */
.contBox li.right .tit.motion .char{ display:inline-block; animation:slide_up .4s cubic-bezier(.5,0,.5,1)both; animation-delay:calc(100ms * var(--char-index)) }

@keyframes slide_up{
    0%{transform:translateY(30px); opacity: 0;}
    30%{transform:translateY(30px); opacity: 0;}
}

@keyframes slide_up2{
    0%{transform:translateY(150px); opacity: 0;}
    30%{transform:translateY(150px); opacity: 0;}
}

.cloneWrap .contBox li.right .txtBox.motion .eng{ animation:slide_up2 1s; }
.cloneWrap .contBox li.right .txtBox.motion .kor{ animation:slide_up2 1.3s; }
.cloneWrap .contBox li.right .txtBox.motion .skill{ animation:slide_up2 1.6s; }